:root{
    --row: 16;
}
#container {
  display: grid;
  grid-template-columns: repeat(var(--row), 1fr);
  grid-auto-rows: 50px;
  text-align: center;
  background-color: white;
}
.item {
    background-color: rgb(255, 255, 255);
}
#container :hover{
    background-color: black;
}

